.form{
  width: 500px;
  display: block;
    margin-left: auto;
    margin-right: auto
}

.container{
  padding:20px;
}

#flexParent{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2px;
}

.flexAddAnotherVendor{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid black;
}

.vendorNameAndBoxAmount{
  width: 50%;
}